.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 450px;
    padding: 10px;
    border: 1px solid red;
}

.calc-result{
    width: 400px;
    height: 80px;
    border: 1px solid black;
    padding: 2px;
    text-align: right;
    font-size: 50px;
}
.calc__buttons{
    width: 400px;
}
.num_btn{
    width: 76px;
    height: 80px;
}
.container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.operatinBtn {
    background-color: aquamarine;
    border: 1px solid black; 
}